/* Apply a CSS reset to remove default margin and padding */
html, body {
  margin: 0;
  padding: 0;
}

/* Create a grid layout with two columns */
main {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 20px;
}

/* Set the width of h1 to take 100% of the page */
h1 {
   background-color: lightblue;
   text-align: center;
}

/* Set the background color for each item in the sidebar */
#sidebar div {
  padding: 10px;
}

/* Align text-items inside the sidebar to center */
#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Take full line width for each item in the sidebar */
#sidebar div {
  grid-column: 1 / span 2;
}

#major-cities {
  margin: 0px;
}

#major-cities div {
  background-color: lightgray;
  margin: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;


/* Take 75% width of the entire page and position it to the right of the sidebar */
#weather-results {
  grid-column: 2 / span 1;
}

/* Position selected-city and 5-day-forcast column on top of each other */
#selected-city, #5-day-forcast {
  display: flex;
  flex-direction: column;
}

/* Apply additional styling for selected-city and 5-day-forcast */
#selected-city {

  padding: 10px;
}

#5-day-forcast {
  background-color: lightgreen;
  padding: 10px;
}
